@use "/src/colors";

.menu {
  right: 0%;
  top: 0%;
  position: absolute;
  z-index: 100;
  background-color: colors.$secondary;
  height: 100vh;
  width: 40%;
}

.close-cta {
  cursor: pointer;
  padding: 0.8rem 1.6rem;
  margin: 1.8rem 20px 0 0;
  text-align: center;
  box-shadow: 0 0 1px 1px;
  justify-content: center;
  background-color: colors.$background;
  color: colors.$primary;
  font-size: xx-large;
  border-radius: 30%;
  top: 0;
  right: 0;
  position: absolute;

  img {
    transition: all 600ms ease-in-out;
    transition-delay: 200ms;
    width: 16px;
    height: 16px;
  }

  &:hover img {
    transform: rotate(180deg);
  }
}

.menuItems {
  display: block;
  position: relative;
  top: 30%;
}

.item {
  text-align: right;
  padding: 16px;
  padding-right: 20px;
  margin: 16px 0;
  font-size: xx-large;
  cursor: pointer;
}
.item:hover {
  background-color: colors.$active-item;
}

@media screen and (max-width: 800px) {
  .menu {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .menu {
    width: 100%;
  }
}
