.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 6rem;
  width: 6rem;
  z-index: 1;

  img {
    height: 6rem;
    width: 6rem;
  }
}
.header-overlay {
  background-color: rgba(255, 255, 255, 0.1);
  filter: blur(20px);
  height: 45%;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  mask: linear-gradient(to top, transparent, black 75%);
  position: absolute;
}

.navbar a {
  padding: 1.2rem 1.5rem;
  margin: 0.5rem;
  border-radius: 32px;
  text-decoration: none;
}

.cta {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 1.2rem 1.5rem;
  margin: 0.5rem;
  border-radius: 32px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.cta .cta-top {
  position: absolute;
  opacity: 0%;
}

.cta-text {
  display: block;
  transition: transform 400ms ease, opacity 600ms ease;
}

.cta .cta-bottom {
  position: relative;

  top: 0;
  left: 0;
}

.cta:hover .cta-bottom {
  transform: translateY(-100%);
  opacity: 0%;
}

.cta:hover .cta-top {
  opacity: 100%;
}

.cta-top::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: xx-large;
  opacity: 100%;
  z-index: 100;
}

.primary-cta {
  background-color: #00478c;
}
.secondary-cta {
  background-color: aliceblue;
  color: #00478c;
}

.content {
  height: 100%;
  width: 100%;
}

.bg-video {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 90vh;
  width: 100vw;
  object-fit: cover;
}

.slogan {
  position: absolute;
  left: 0;
  bottom: 10vh;
  margin: 1.5rem;
}

h1, h2{
    font-family: 'Playfair Display', serif;
    text-shadow: 0px 0px 5px #00478C;
    color: white;
  }