.bg-video {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 90vh;
  width: 100vw;
  object-fit: cover;
}
.content{
    position: absolute;
    top: 0;
    left: 0;
    height: 90vh;
    width: 100vw;
}
.slogan {
  position: absolute;
  left: 0;
  bottom: 10vh;
  margin: 1.5rem;
}

h1, h2{
    font-family: 'Playfair Display', serif;
    text-shadow: 0px 0px 5px #00478C;
    color: white;
  }