<div>
    
  <app-menu [isMenuVisible]="menuService.isOpen() "></app-menu>
    <header class="fixed flex justify-between h-32 top-0 left-0 z-50 w-full">
    <a class="flex z-40 ml-8 mt-4 " href="#"><img src="../../assets/logo.png" /></a>
    <div class="header-overlay"></div>

    <nav class="h-full mr-8 mt-4">
      <app-button name="Book now" buttonType="primary"></app-button>
      <app-button (buttonClick)="menuService.toggle()" name="Menu" buttonType="secondary"></app-button>
    </nav>
  </header>
</div>